/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


/*==================================================*/

/*Anchor deafult class*/


a {
  text-decoration: none; /* Remove underlining */
}

/*==================================================*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

/*side bar (closed)*/
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-image: linear-gradient(-90deg, #85c3be, #016d77);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

/*side bar (open)*/
.sidebar.open{
  width: 250px;
}

/*side bar (closed) logo div (uskudar uni logo)*/
.sidebar .logo-details{
  margin-top: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

/*side bar (closed) logo picture class (uskudar uni logo)*/
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

/*side bar logo name class "club management"*/
.sidebar .logo-details .logo_name{
  margin-left: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

/*side bar (open) logo picture class (uskudar uni logo)*/
.sidebar.open .logo-details .icon{
    opacity: 1;
    height: 80px;
}

/*side bar (open) ogo name class "club management"*/
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}


/*side bar (closed) menu button*/
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

/*side bar (open) menu button*/

.sidebar.open .logo-details #btn{
  text-align: right;
}


/*side bar icons format*/

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

/*side bar sub pages sub format*/
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

/*side bar link format*/

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

/* tootip: a message which appears when a cursor is positioned over an icon, image, hyperlink */

/* Sidebar tooltip */

.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

/* Sidebar tooltip hover */

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}

/* links name is the class name for  */
/* Sidebar links name */


.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/* side profile */


.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}

/* prfoile logout part */
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #ff0000;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: red;
}

/* ===================================================== */

/* home scetion start */

.home-section{
  position: relative;
  background-color: #eef6f9;
  height: 1600px;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}


.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}


.home-section .text{
  font-family: "Koulen", sans-serif;
  display: inline-block;
  color: #11101d;
  font-size: 50px;
  font-weight: 500;
  margin: 100px
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/* home section end */
/* ====================================== */

/* notfication part start */

.home-section .nav-grid{
    display: grid;
    grid-template-columns: 90% 10%;
  
  
}

.nav-grid>.text {
  border-bottom: 6px  #000000;
  border-bottom-style: solid;
  width: 220px;
}
/* notfication icon div */

.icon-1 {
	position:relative;
	text-align: right;
	background-color: transparent;
	cursor: pointer;
	margin-right: 50px;
}

/* notficaion image/icon format */
.icon-1 img {
	
	display: inline-block;
	width: 40px;
	margin-top: 20px;
}
.icon-1:hover {
	opacity: .7;
}

/* notficaion icon (the bell icon) */

.home-section .notfication-icon {
  margin-top: 40px;
  margin-left: 60px;
  position: relative;
  display: block;
  text-align:right;
  z-index: 1;
}

/* notfication box format */


.notifi-box {
  background-color: #FFF;
  width: 300px;
  height: 200px; /* Set a fixed height for the notification box */
  opacity: 0;
  position: absolute;
  top: 80px;
  right: 35px;
  transition: 200ms height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  overflow: auto; /* Enable scrolling */
  border-radius: 15px;
  background-color: black;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scrollbar-color: #fff;
  padding: 0 20px;
}

/* each notfication message picture/image */
.notifi-box .box-icon{
  text-align: center;
}

.notifi-box h2 {
	font-size: 1.2rem;
	padding: 10px;
	color: #ffffff;
}
.notifi-box h2 span {
	color: #f00;
}

notifi-box a{
  text-decoration: none;
}

.notifi-box::-webkit-scrollbar{
  width: 0;
}

/* each notfication message div */


.notifi-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  grid-template-columns: 30% 70%;
	padding: 15px 5px;
	cursor: pointer;
  border-radius: 15px;
}


.notifi-item:hover {
	background-color: #c7c7c726;
}


.notifi-item img {
	display: block;
	width: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

/* text section in each notfication message */

.notifi-item .text{
  margin: 0;
  text-align: left;
}



.notifi-item .text h4 {
  color: #ffffff;
	font-size: 0.95rem;
  text-transform: capitalize;
}
.notifi-item .text p {
	color: #ffffff;
	font-size: 0.75rem;
}
/* =============================================================== */
.search-container{
  width: 600px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  margin-left: 25%;
  transition: all 0.3s ease-in-out;
}

.search-form-container{
  background: #fff;
  width: 475px;
  height: 38px;
  display: flex;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.search-form-container .input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 17px;
  padding-left: 10px;
}

.search-form-container .button{
  background:#000;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}




.category-container{
  width: 150px;
  height: 38px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  outline: none;
  background:#fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.select-btn{
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px;
  cursor: pointer;
}

.select-btn .btn-text{
  font-size: 17px;
  font-weight: 400;
  color: #888;
}
.select-btn .arrow-dwn{
  transition: 0.3s;
}
.select-btn.open  .arrow-dwn{
transform: rotate(-180deg);
}


.list-items{
position:relative;
margin-top:5px;
background-color:#fff;
border-radius:8px;
border: 1px solid #ccc;
padding:16px 0 16px 5px;
display:none;
z-index: 2;
}

.select-btn.open ~ .list-items{
display:block;
}

.list-items .item{
list-style:none;
display:flex;
align-items: center;
height: 25px;
cursor:pointer;
transition:0.3s;
padding: 15px 7px;
border-radius: 8px;
}

.list-items .item:hover{
background-color: #e7edfe;
}
.item .checkbox{
display:flex;
align-items: center;
justify-content:center;
height:16px;
width:16px;
margin-right: 8px;
border-radius: 4px;
border: 1.5px solid #c0c0c0;
transition: all 0.3s ease-in-out;
}

.item.checked .checkbox{
background-color: #4070f4;
border-color: #4070f4;
}

.checkbox .check-icon{
color: #fff;
font-size: 11px;
transform: scale(0);
transition: all 0.1s ease-in-out;

}


.item .item-text{
font-size:14px;
font-weight:400;
color: #333
}

.item.checked .check-icon{
transform: scale(1);
}

/* =============================================================== */

.title{
  padding: 20px;
}
.gallery{
  margin: 20px ;
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 0.22fr);
}

.grid-colum-span {
  grid-column: span 3;
}

.gallery-item{
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 200px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  background-color: white;
  cursor: pointer;
}

.gallery-item img {
  width: 100px;
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  padding-bottom: 30px;
}

.gallery-item h3 {
  transition: all 0.5s ease-in-out;
}

.gallery-item p {
  display: none;
  transition: all 0.3s ease-in-out;
  padding-left: 10px;
  padding-bottom: 13px;
  font-size: 13px;
}

.gallery-item:hover img {
  left: calc(50% - 85%);
  top: calc(81% - 76%); 
  width: 80px;
  padding-left: 20px;
}

.gallery-item:hover h3 {
  display: none;
}

.gallery-item:hover p {
  display: block;
}

.gallery-item:hover{
  background: #85C3BE;
}


@media (max-width: 1000px) {
  .grid-colum-span {
      grid-column: span 4;
  }
  .search-section{
    width: 400px;
    margin-left: 25%;
  }
  .search-form{
    background: #fff;
    width: 400px;

  }
  
}

@media (max-width: 900px) {
  .grid-colum-span {
      grid-column: span 6;
  }
  .search-container{
    width: 400px;
    margin-left: 24%;
  }
  .search-form-container{
    background: #fff;
    width: 400px;

  }
  .gallery-item:hover img {
    top: calc(81% - 71%); 
  }
}

@media (max-width: 650px) {
  .grid-colum-span {
      grid-column: span 12;
  }
  .search-container{
    width: 300px;
    margin-left: 24%;
  }
  .search-form-container{
    background: #fff;
    width: 300px;

  }
  
}
